
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
#myVideo {
   position: fixed;
   right:-5px;
   bottom:-95px;
  width: -200%; 
  height: 130%;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
   
}
.container
{
    max-width: 1000px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    transition: 0.5s;
    background-color: rgba(0,0,0,0);
}
.container:hover .card
{
    filter: blur(5px);
    transform: scale(.7);
}
.container .card
{
    position: relative;
    width: 250px;
    height: 300px;
    background: rgba(0,0,0,0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

}
.container .card:hover
{
    filter: blur(0px);
    transform: scale(1);
}
.container .card:before
{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    
    transition: 0.5s;
}
.container .card:hover:before
{
    background-color: rgba(0,0,0,0);
    transform: scaleY(1.15);
    box-shadow: 0 5px 15px rgba(0,0,0,.2);
}
.container .card:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transition: 0.5s;
    background: rgba(0,0,0,1);
    z-index: 1;
}
.container .card:hover:after
{
    transform: scaleY(1.15);
    background-color: rgba(0,0,0,0);
}
.container .card:hover
{
    z-index: 1;
}
.container .card .content
{
    text-align: center;
    z-index: 2;
    padding: 0 20px;
    transition: 0.5s;

}
.container .card:hover .content
{
    color: #fff;
}
.container .card .content h2
{
    font-size: 3em;
}
.container .card .content p
{
    font-size: 0.9em;
}
.container .card .content a
{
    display: inline-block;
    margin-top: 15px;
    padding: 5px 10px;
    background: rgba(0,0,0, 0.5);
    color: white;
    text-decoration: none;
}
.container .card:hover .content a
{
      animation: animate 2s linear infinite;
}
h1{
  color:white;
    animation: animate 2s linear infinite;
}
@keyframes animate
 {
  0%,100%
  {
       
       filter: blur(2px);
       text-shadow: 0 0 5px  #ffe6e6,
                   0 0 10px   #ff3385,
                   0 0 10px   #ff3385,
                   0 0 20px  #e6e6ff,
                   0 0 20px  #ffe6e6,
                   0 0 30px   #ff3385,
                   0 0 35px  #e6e6ff,
                   0 0 40px   #ff3385;
  }

  5%,95%
  {
       color:#ffe6e6;
       filter: blur(0px);
       text-shadow: 0 0 10px none;
  }
}
img{
  position:relative;
  
  width:250px;
}
h2{
  color:white;
  font-family: 'Lemonada', cursive;
  font-size: 22px;
  text-align: center;
}